### 1. Đọc dữ liệu từ file csv

In [2]:
import pandas as pd
data = pd.read_csv('FoodPrice_in_Turkey.csv', header = 0)
data.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

### 2. Đọc dữ liệu từ file excel

In [ ]:
df=pd.read_excel('house_price_đống đa.xlsx')
df.head()

### 3. Đọc dữ liệu từ file Json

In [ ]:
df = pd.read_json('FoodPrice.json')
df.head()

### 4. Đọc dữ liệu từ file hdf5

In [ ]:
df=pd.read_hdf('FoodPrice.h5', 'table')
df.head()

### 5. Đọc dữ liệu từ file html

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df = pd.read_html(url)
df[0].head()